.characterCard {
  background-color: rgb(0, 176, 199);
  height: auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  color: white;
  &__img {
    width: 150px;
  }
  &__name {
    font-size: 10px;
    padding: 5px 5px 2.5px 5px;
  }
  &__species {
    font-size: 10px;
    padding: 2.5px 5px 5px 5px;
  }
}
